<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Thanks for signup, <%= @subscriptor.name %></h1>
    <p>
    A partir de este momento recibiras noticias y novedades de nuestra pagina con muchas sorpresas para ti.
    </p>
</body>
</html>